{% extends "register/base.html" %} 
{% block main %}
<section class="h-100 h-custom p-2" style="background-color: #eee">
  <div class="card m-2">
    <form method="post">
      {% csrf_token %}
      <button class="btn btn-sm btn-light" type="submit" name="query" value="L">
        Learners
      </button>
      <button class="btn btn-sm btn-light" type="submit" name="query" value="T">
        Teachers
      </button>
    </form>
  </div>

  <table class="table table-responsive">
    <thead>
      <tr>
        <th scope="col"><small>S/no</small></th>
        <th scope="col"><small>Name</small></th>
        <th scope="col"><small>Local Church</small></th>
         <th scope="col"><small>Category</small></th> 
      </tr>
    </thead>
    <tbody>
      {% for person in persons %}
      <tr>
        <td scope="row"><small>{{ forloop.counter }}</small></td>
        <td>
          <a
            class="text-decoration-none"
            href="{% url 'person_details' person.id %}"
            ><small
              >{{ person.first_name.capitalize }} 
              {{person.other_name.capitalize}}</small
            ></a
          >
        </td>
        <td><small>{{ person.Local_church }}</small></td>
        {% if person.category == 'L' %}

          <td><span class="badge bg-primary rounded-pill"><small>Leaner</small></span>
          {% if student.mode == 'Online'%}
          <a href="" >Join lesson</a>
          {% endif %}
          </td>
        {% elif person.category == 'T' %}
          <td><span class="badge bg-success rounded-pill"><small>Teacher</small></span></td>

        {% else%}
            <td><span class="badge bg-info rounded-pill"><small>Leader</small></span></td>

        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
{% endblock main %}
