{% extends "register/base.html"%} {% block main%}

<div class="row d-flex justify-content-center align-items-center h-100">
  <div class="col-sm-5">
    <div class="card p-2 m-3">
      <h2 class="btn btn-light"><strong>PERSON DETAILS</strong></h2>
      <hr />
      <ul class="list-group">
        <li class="list-group-item">
          Name:{{student.person.first_name.capitalize}}
          {{student.person.other_name.capitalize}}
        </li>
        {% comment %}
        <li class="list-group-item">Category:{{student.person.category}}</li>
        {% endcomment %}
        <li class="list-group-item">mode:{{student.mode}}</li>
        <li class="list-group-item">Level:{{student.levels}}</li>
        <li class="list-group-item">
          Local Meeting:{{student.person.Local_church}}
        </li>
        <li class="list-group-item">
          Lesson % attendance: {{student.attendance_percent}}
        </li>
        <li class="list-group-item">attendance: {{student.att_count}}</li>
      </ul>
      <hr />

      <div class="card p-2 m-3">
        <p>
        {% if student.mode == 'Online' %}
        
          <a
            class="btn btn-sm btn-success"
            href="{% url 'online_register' person.id %}"
            >Online Class</a
          >
          {% endif %}

          <a
            class="btn btn-sm btn-success"
            href="{% url 'edit_person' person.id %}"
            >Edit</a
          >
          <a class="btn btn-sm btn-warning" href="{% url 'person-list' %}"
            >Go Back</a
          >
        </p>
      </div>
    </div>

    {% endblock main %}
  </div>
</div>
