{% extends "register/base.html"%} {% block main%}

<div class="row d-flex justify-content-center align-items-center h-100">
  <div class="col-sm-5">
    <div class="card p-2 m-3">
      <h2 class="btn btn-light"><strong>LEARNER DETAILS</strong></h2>
      <hr />

      <table class="table">
        <tr>
          <th>Name:</th>
          <td>
            {{student.person.first_name.capitalize}}
            {{student.person.other_name.capitalize}}
          </td>
        </tr>

        <tr>
          <th>Mode:</th>
          <td>{{student.mode}}</td>
        </tr>
        <tr>
          <th>Level:</th>

          <td>
            {% if student.levels == 'BK1'%} Book One {% else %} Book Two {%endif %}
          </td>
        </tr>
        <tr>
          <th>Local Meeting:</th>
          <td>{{student.person.Local_church}}</td>
        </tr>
        <tr>
          <th>Lesson % attendance:</th>
          <td>{{student.attendance_percent}}</td>
        </tr>
        <tr>
          <th>Class attended:</th>
          <td>{{student.att_count}}</td>
        </tr>
      </table>
      <hr />

      <div class="card p-2 m-3">
        <p>
          {% if student.mode == 'Online' %}

          <a
            class="btn btn-sm btn-success"
            href="{% url 'online_register' person.id %}"
            >Online Class</a
          >
          {% endif %}

          <a
            class="btn btn-sm btn-success"
            href="{% url 'edit_person' person.id %}"
            >Edit</a
          >
          <a class="btn btn-sm btn-warning" href="{% url 'person-list' %}"
            >Go Back</a
          >
        </p>
      </div>
    </div>

    {% endblock main %}
  </div>
</div>
