
{% extends "register/base.html"%}
{% block main%}


  {% if user.is_staff%}

<a href="{% url 'addlesson' %}" class= "btn btn-sm btn-success"> <small> Add Lesson </small>  </a>
 
{% endif %}
<hr>


<div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-sm-4">
          
     {% for item in lessons%}
     <div class="card p-2 m-2 ">
     
    <ul class="list-group list-group ">
  <li class="list-group-item d-flex justify-content-between align-items-start p-2 ">
    <div class=" me-auto m-2">
      <div class="fw-bold"><small>{{item.topic.capitalize }}</small></div>
      <small>{{item.description}}</small>
    </div>
   {% if item.valid == True %}
    <span class="badge bg-primary rounded-pill"><small>{{item.taught_on_date}}</small></span>
    {% else %}
     <span class="badge bg-warning rounded-pill"><small>{{item.taught_on_date}}</small></span>
    {% endif %}
    <span class="badge bg-danger rounded-pill"><small>{{item.mode}}</small></span>

  </li>


  </ul> 
        <div class="p-2"style="display:flex;gap: 10px">
              <div>
              {% if item.is_taught == False%}
            
              <a href="{% url 'edit_lesson' item.id %}" class= "btn btn-sm btn-success">  Edit  </a>
              </div>
            <div class="float-center">
              {% else%}
              <small> This Lesson has been taught please check with the teacher</small>
              {% endif %}
            </div>
              <a  class=" btn btn-sm btn-light float-end" href="{% url 'details' item.id %}">Details</a>

      </div>
  </div>
   {% endfor%}
</div>
</div>
 
 {% endblock main %}