{% extends "register/base.html"%} 
{% block main%}

<div class="container">
  <h4></h4>

  <div class="card">
    <div class="card-body">
      <table class="table table-responsive">
        <thead>
          <tr>
            <th scope="col">
              <small class="card-title">{{lesson.topic.capitalize}}</small>
            </th>
            <th scope="col"><small>{{lesson.taught_on_date}}</small></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <p class="card-text">Teacher :</p>
            </td>
            <td>
              <p class="card-text">{{lesson.teacher}}.</p>
            </td>
          </tr>

          <tr>
            <td>
              <p class="card-text">Level :</p>
            </td>
            <td>
              <p class="card-text">{{lesson.levels}}</p>
            </td>
          </tr>
        </tbody>
      </table>
      <small class="">{{lesson.description.capitalize}}</small>

      {% if lesson.valid == True %} {% if user.is_staff %}
      <a
        href="{% url 'enrol' lesson.id %}"
        class="card-link btn btn-sm btn-success"
        >Reflesh list</a
      >
      {% endif %} {% if lesson.mode == 'Online'%}

      <a href="{% url 'videoview' lesson.id %}" class="card-link">View Lesson </a>
      <a href="{% url 'videoview' lesson.id %}" class="card-link">View Report </a>
      {% else%}
      <a href="{% url 'join_online' lesson.id %}" class="card-link"
        >Join_lesson</a
      >
      {% endif %} {% endif %}
    </div>
  </div>
  {% if user.is_staff%}
  <h6>Learners List</h6>
  <small> Click on the learner's name to mark the attendance</small>

  {% for item in class_attendance%}

  <ul class="list-group">
    <a class="text-decoration-none" href="{% url 'mark' item.id %}">
      <li class="list-group-item">
        {% if item.in_attendance == True %}
        <p class="text-success">
          {{item.student.person.first_name.capitalize}}
          {{item.student.person.other_name.capitalize}}
        </p>
        {% else %}
        <p class="text-warning">
          {{item.student.person.first_name.capitalize}}
          {{item.student.person.other_name.capitalize}}
        </p>
        {% endif %}
      </li>
    </a>
  </ul>

  {% empty %}
  <div class="card">
    <h4 class="text-center">No learners found</h4>
    <a href="{% url 'home' %}" class="card-link btn btn-sm btn-success"
      >View learner</a
    >

    {% endfor%}
    <small>
      if you end the Lesson you will not be able to use it again. Please end the
      lesson at the end of learning</small
    >

    <a
      href="{% url 'closslesson' lesson.id %}"
      class="card-link btn btn-sm btn-success"
      >End Lesson</a
    >
  </div>
  {% endif %}
</div>
{% endblock main %}
