

{% extends "register/base.html"%}
{% block main%}

<div class="container">
<h4>details page</h4>

 

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{lesson.topic}}</h5>
      <hr>
      <h6 class="card-subtitle mb-2 text-muted"> {{lesson.date_created}}</h6>
      <p class="card-text text-italic">{{lesson.description}}.</p>

      <h6 class="card-subtitle mb-2 text-muted"><strong>Lesson date</strong> : {{lesson.date}}</h6>

      <h6 class="card-subtitle mb-2 text-muted"><strong>Teacher</strong> : {{lesson.teacher}}</h6>
      <h6 class="card-subtitle mb-2 text-muted"><strong>Date Created:</strong> {{lesson.date_created}} </h6>
      <h6 class="card-subtitle mb-2 text-muted"><strong>Edited on:</strong> {{lesson.date_edited}}</h6>
      <h6 class="card-subtitle mb-2 text-muted"><strong>Level:</strong> {{lesson.levels}}</h6>
       {% if lesson.valid == True %}
      <a href="{% url 'enrol' lesson.id %}" class="card-link btn btn-sm btn-success">Reflesh list</a>
      {% endif %}
      {% if lesson.mode == 'Online'%}
      <a href="{% url 'videoview' lesson.id %}" class="card-link">View</a>
      {% endif %}


    </div>
  </div>
 {% if user.is_staff%}
  
  {% for item in attendance%}  

 <ul class="list-group">
 <a class="text-decoration-none" href="{% url 'mark' item.id %}">
  <li class="list-group-item ">
    {% if item.in_attendance == True %}
     <p class= "text-success"  >{{item.students.person.first_name.capitalize}} {{item.students.person.other_name.capitalize}}   </p>
   {% else %}
  <p class= "text-warning">{{item.students.person.first_name.capitalize}} {{item.students.person.other_name.capitalize}}   </p>
   {% endif %}
   
  </li>
</a>
</ul>
       

{%  empty %}
<div class="card">
<h4 class="text-center">No learners found </h4>
      <a href="{% url 'home' %}" class="card-link btn btn-sm btn-success">View learner</a>

      {% endfor%}
      <a href="{% url 'closslesson' lesson.id %}" class="card-link btn btn-sm btn-success">End Lesson</a>
</div>
{% endif %}
</div>
 {% endblock main %}  