{% extends "user/base.html"%} {% load crispy_forms_tags%} {% load static %}
{% block main %}

<div class="row d-flex justify-content-center align-items-center h-100 ">
  <div class="col-sm-4 m-5">
    <div class="card p-2 m-2">
      <h2 class=" btn btn-outline-light text-center t" style="color: green;"><strong>LOG IN</strong></h2>
      <hr>
      <form method="post">
        <div class="mb-3 p-2">{% csrf_token %} {{form|crispy }}</div>
        <hr>
        <div class="card p-3">
          <h6>
          <button type="submit" class="btn btn-sm btn-primary">Sign in</button>
          </h6>
           <div class="d-flex justify-content-between">
            <hr>
          <div class="border-top pt-3">
            <small class="">
              <strong> Do you need an account with us ?</strong>

              <a class="ml-5 btn btn-sm btn-outline-info" href="{% url 'register' %}">
                Sign Up
              </a>

            </small>
          </div>
        </div>
        </div>

       
      </form>
    </div>
  </div>
</div>
{% endblock main %}
