{% extends 'register/base.html'%} 
 {% load static %} 
{%block main%}

<div class="container my-5 text-align-centre">
  <div class="row my-3">
    <div class="col-sm-6 offset-sm-3">
      <hr />
      <h6 class="text-center">
      </h6>
      <hr />

      <form action="" method="post" class="row g-3">
        {% csrf_token %}
        <div class="col-auto">
          <label for="my_passcode" class="visually-hidden"> </label>
          <input
            id="query"
            type="text"
            name="query"
            placeholder=" Your Name here"
            class="form-control"
          />
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-primary mb-3">Search</button>
        </div>
      </form>
    </div>
  </div>

  <p>
    Confirm your name please. If your doesnt exist consult your administrator
  </p>

  {% for item in students %}

  <div class="row my-3 text-decoration-none text-center">
    <h3>
      {{item.person.first_name.capitalize}}
      {{item.person.other_name.capitalize}}
    </h3>
    <hr />

    <div>
      <a
        href="{% url 'viewlesson' item.person.id %}"
        class="btn btn-light btn-sm"
        ><strong> Continue</strong></a
      >
    </div>
  </div>
  <hr />

  {% endfor%} 
  


  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img
          src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="img-fluid"
          alt="Sample image"
        />
      </div>

      <div>
        <hr />
        <h5 class="text-center">
          <strong> Welcome to our classes. </strong>
        </h5>

        <hr />
      </div>
    </div>

    {%endblock main%}
  </div>
</div>
