{% extends 'register/base.html' %} {% load static %} {% block main %}
    <div class="row d-flex justify-content-center align-items-center h-100">

<div class="col-sm-5">               
   <h2 class=" btn btn-outline-light text-center " style="color: blue;"><strong>YOU ARE LOGGED IN AS:</strong></h2>

  <div class="card p-2 text-center ">
    <h4>
     <strong> Name: </strong>{{person.first_name.capitalize}} {{person.other_name.capitalize}}
    </h4>
    <h4><strong>User Name:</strong> {{user.username}}</h4>
    <hr />

    <strong>Email :</strong> {{user.email}}
  </div>
<h1 class="text-center">
  <a href="{% url 'userprofile' %}" class="btn btn-light btn-sm">Go Back</a>

  <a href="{% url 'viewlesson' person.id %}" class="btn btn-warning mx-4 btn-sm text-end"
    ><strong> Continue</strong></a
  >
</h1>
 <p> If the information is incorrect, Go back and try another search </p>

</div>    

<div class="container-fluid h-custom">

    <div class="row d-flex justify-content-center align-items-center h-100">
    
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img
          src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="img-fluid"
          alt="Sample image"
        />
      </div>

      <div>
        <hr />
        <h5 class="text-center">
          <strong> Welcome to our online classes. </strong>
        </h5>

        <hr />
      </div>
    </div>

    {% endblock %}
  </div>

</div>
