{% extends 'register/base.html' %}
{% load static %}

{% block main %}
<div class="card p-2 m-3">
    <h1 class=" text-center" ></h1>
    <hr>
    User Name: {{user.username}}
    Email : {{user.email}}
    <hr>
    Name: {{ person}}
    <hr>
</div>
<a href="{% url 'mode'%}" class="btn btn-light btn-sm">Go Back</a>

<a href="{% url 'online_register' person.id %}" class="btn btn-light btn-sm"><strong> Continue</strong></a>

  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="img-fluid" alt="Sample image">
      </div>

      <div>
       <hr>
            <h5 class="text-center"><strong>  Welcome to our online classes.  </strong></h5>
            
            </h6>
            <hr>
      </div>


{% endblock %}